services:

  delivery:
    container_name: backend
    build: /backend/delivery
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - database
    networks:
      - deliverymongo

  database:
    container_name: mongo
    image: mongo
    restart: always
    command: ["mongod"]
    user: "root"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DATABASE_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - ./database:/data/db
    ports:
      - 27017:27017
    networks:
      - deliverymongo

networks:
  deliverymongo:
    driver: bridge
